{% extends 'base.html' %}
{% block content %}
<h1>Expense Category List</h1>
<table>
<thead>
<tr>
<th>Name</th>
<th>Number of receipts</th>
</tr>
</thead>
<tbody>
{% for category_name in expense_category %}
<tr>
<td>{{ category_name.name }}</td>
<td>{{ category_name.receipts.all|length }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
